/*
bright purple
#F50DFF
dark purple
8100FF
*/
small, .rightpanel a{
	font-size: 12px;
}
/* SIGNUP PAGE */
.signup_bod{
  height: 100vh;
  font-size: 120%;
	background-image: url('../images/meetup.jpg');
	background-position: top;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}
.overlay{
	width: 100%;
	height: 100vh;
	background-color: rgba(129, 0, 255, 0.68);
  overflow: auto;
}

.signupbox{
	width: 90%;
	height: 70vh;
	background-color: white;
	margin: auto auto;
	box-shadow: 1px 1px 4px black, 0 1px 2px black;
}

.rightpanel{
	background-color: white;
	justify-content: center;

}
.rightpanel h3, .leftpanel h3{
	text-align: center;
	text-transform: uppercase;
}

.leftpanel{
	color: white;
	text-align: center;
	background: url('../images/scene.jpg') no-repeat;
	background-size: cover;
	background-position: top;

}

.leftpanel h3, .leftpanel h5{
  display: none;
}

.rightpanel form{
	width: 100%;
}
.rightpanel input{
	width: 90%;
	margin: 1% auto 0 4%;
	padding: 10px 0 10px 0;
}
.rightpanel label{
	font-size: 12px;
	margin-left: 4%;
}
.rightpanel a{
	/* float: right; */
	margin-right: 2%;
}
.leftpanel .logo{
	min-height: 20px;
	max-height: 100px;
  display: block;
}
.logo{
  margin: 0 auto;
}


/* SIGNUP PAGE */
/* LOGIN PAGE */


.loginrhtpanel{
  background: url('../images/change.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;
  /* height: 210px; */
}
.loginlftpanel form{
	padding-top: 10px;
}


.loginlftpanel label{
	font-size: 12px;
}
.titleQstner{
	display: inline;
}

.frontpg_info{
  background-color: rgba(0, 0, 0, 0.63);
}
/* LOGIN PAGE */

/* ADMIN LOGIN PAGE */
.admnoverl{
	width: 100%;
	height: 100%;
	background-color: rgba(129, 0, 255, 0.68);
	display: flex;
	justify-content: center;
}
.admnsgnbox{
	width: 60%;
	height: auto;
}
.admnrghtpanel h3{
	width: 100%;
	background-color: black;
	padding: 15px 0 15px 0;
	margin-top: 0;
	color: white;
}

.admnrghtpanel form{
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0;
}

.admnrghtpanel form input[type="submit"]{
	background-color: white;
	border:2px solid #8100FF;
	border-radius: 2px;
	color: #8100FF;
	font-weight: bold;
	text-transform: uppercase;
}

.admnrghtpanel form input[type="submit"]:hover{
	background-color: #8100FF;
	border:2px solid white;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
.logoadmn{
	position: absolute;
	top: 35px;
	left: 40%;;
}
.admnrghtpanel{
	background: url('../images/doodle.jpg') repeat;
	background-size: 30%;
	background-position: top;
}
.admnrghtpanel form{
	background-color: rgba(249, 249, 249, 0.79);
	padding: 10px 0 10px 0;
}
.admnrghtpanel form label{
	font-weight: 900;
}

/* ADMIN LOGIN PAGE */

/* RESET PASSWORD PAGE */
.restpassdpanel form{
	padding: 0 0 50px 0;
	margin-bottom: 0;
}
.resetpssdbod{
	background: url('../images/doodle.jpg') repeat;
	background-size: 30%;
	background-position: top;
}
.restpassdpanel h3{
	color: black;
	box-shadow: inset -4px 0px 0 black;
	background-color: white;
}

.restpassdpanel p{
	text-align: center;
	font-size: 14px;
}
