/* SIGNUP PAGE */
.signup_bod{
  background: url('../images/doodle.jpg') repeat;
  background-size: 30%;
  background-position: top;
}
.overlay{
	width: 100%;
	background-color: rgba(129, 0, 255, 0.68);
  overflow: auto;
  padding-bottom: 5px;
  min-height: 100vh;
}
.signupbox{
	flex: 1 1 0;
	width: 99%;
	background-color: white;
	margin: auto auto;
	box-shadow: 1px 1px 4px black, 0 1px 2px black;
	display: flex;
  flex-direction: column;
}
.rightpanel{
	flex-grow: 1 1 0;
	background-color: white;
	justify-content: center;

}
.rightpanel h3, .leftpanel h3{
	text-align: center;
	text-transform: uppercase;
}
.leftpanel{
	color: white;
	text-align: center;
	background: url('../images/scene.jpg') no-repeat;
	background-size: cover;
	background-position: top;

}
.rightpanel form{
	width: 100%;
}

.rightpanel input{
	width: 90%;
	margin: 1% auto 0 4%;
	padding: 10px 0 10px 0;
}
.logo{
  display: block;
  margin-right: 20%;
}
.rightpanel label{
	margin-left: 4%;
}
.indxfooter{
 background-color: black;
 color: white;
 padding: 10px 0;
 text-align: center;
}
.loginlftpanel p{
  width: 80%;
  text-align: center;
}
/*
.rightpanel a{
	margin-right: 2%;
}


 */
 .logo{
   position: absolute;
   left: -300px;
 }

 .logocontainer{
   display: flex;
   justify-content: center;
 }

/* SIGNUP PAGE */
@media only screen and (min-width: 992px) {
.signupbox{
	flex: 1 1 0;
	width: 50%;
	background-color: white;
	margin: auto auto;
	box-shadow: 1px 1px 4px black, 0 1px 2px black;
	display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.logo{
  margin: 0 auto;
}
}
